{% extends 'base.html' %}
{% block title %}{{paste.title}} - rawPaste{% endblock title %}
{% block extra_headtag %}
<style type="text/css">
    .highlight{
        width: 100%;
        height: 250px;
        overflow: scroll;
    }
    {{stylying_code}}
</style>
{% endblock extra_headtag %}
{% block body %}
    <h1>{{paste.title}}</h1>
    {{html_code|safe}}
    <h3>{{paste.expired_on}}</h3>
    <h3>{{paste.created_on}}</h3>
    <h2>{{paste.view_count}}</h2>
    <a href="{{ paste.get_absolute_raw_url }}" target="_blank">Raw Code</a>
{% endblock body %}